@()

<h2>A Cycling Workplace Intervention Looking at the Outcomes of Active Commuting</h2>

<p>I would like to invite you to participate in this research project which forms part of my Master of Science (MSc) Dissertation project research. Please take time to read the following information carefully.</p>

<h3>What is the purpose of the project?</h3>

<p>To look at whether active commuting (AC) affects people’s daily lives from a number of aspects as well as to investigate the effect of role models, the motivators, attitudes and perceived barriers of active commuting.</p>


<p>You are being invited to participate in this project as you have kindly shown interest in taking part in the study. As you are over 18, a staff at the Institute of Psychiatry, Psychology and Neuroscience (IOPPN), you are fully eligible for this study.</p>

<h3>What will happen if I take part?</h3>

<p>You will be asked to complete two short questionnaires three times over the course of the study (start, middle and end). I will require your email to allow me to do this. This questionnaire will only take 5 minutes.</p>

<h3>Do I have to take part?</h3>

<p>Participation is completely voluntary. You should only take part if you want to and choosing not to take part will not disadvantage you in anyway. Once you have read the information sheet, please contact me if you have any questions.</p>

<h3>What are the possible risks of taking part?</h3>

<p>There are no obvious risks to taking part in this study.</p>

<h3>What are the possible benefits of taking part?</h3>

<p>Your contribution to this study will help build a better understanding of the research to see whether active commuting has any impact on our daily lives.</p>

<h3>Data handling and confidentiality</h3>

<p>Your data will be processed in accordance with the General Data Protection Regulation 2016 (GDPR). Although we will be asking for your email in order to send you questionnaires and information, your data will not be linked to your name and you will remain fully anonymous throughout.  Data will be stored on Qualtrics (questionnaire website). Your data will be deleted within 7 years of the study termination. Your data will only be shared with the research team.</p>

<p>If you would like more information about how your data will be processed in accordance with GDPR please visit <a href="https://www.kcl.ac.uk/research/support/research-ethics/kings-college-london-statement-on-use-of-personal-data-in-research">this page</a>.</p>

<h3>What if I change my mind about taking part?</h3>


<p>You are free to withdraw at any point of the project, without having to give a reason. Withdrawing from the project will not affect you in any way. You are able to withdraw your data from the project up until the 5th of June 2020 after which withdrawal of your data will no longer be possible due to the fact that the data will have been downloaded, anonymised and therefore not possible to delete your personal data. If you choose to withdraw from the project, we will not retain the information you have given thus far.</p>

<h3>How is the project being funded?</h3>

<p>This project is being funded by King's College London Junior Faculty Research Awards.</p>

<h3>What will happen to the results of the project?</h3>

<p>The results of the will be summarised in my dissertation. In the case that the project will be published, your data and personal details will remain completely anonymous.</p>

<h3>What if I have further questions, or if something goes wrong?</h3>

<p>If this project has harmed you in any way or if you wish to make a complaint about the conduct of the project you can contact King's College London using the details below for further advice and information:

<p>Supervisor: Dr. Ricardo Twumasi @mailTo("ricardo.twumasi@kcl.ac.uk")</p>

<p>Thank you for reading this information sheet and for considering taking part in this research.</p>